@import '../../../assets/styles/constants';

.courses_item, .courses_edit{
  background: $white;
  padding: 12px;
  box-shadow: 0 2px 3px 0 $grey;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  &.fresh{
    outline: 2px solid $darkGreen;
  }
  &.upcoming{
    outline: 2px solid $darkBlue;
  }
  &:hover{
    box-shadow: 0 0 12px 6px $grey;
  }
  .course_info{
    padding-right: 12px;
    width: 100%;
    .course_data{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding-bottom: 6px;
      .title{
        .star{
          width: 14px;
          height: 14px;
          display: inline-flex;
          background: url(../../../assets/images/baseline-star_border-24px.svg) no-repeat center / 14px;
          &.topRated{
            background-image: url(../../../assets/images/baseline-star-24px.svg)
          }
        }
      }
      .time{
        input.duration{
          margin-right: 12px;
          padding: 2px 0;
          width: 50px;
        }
      }
    }
    .course_description{
      padding-top: 6px;
      textarea{
        width: 99%;
        height: 70px;
        resize: none;
      }
    }
  }
  .course_actions{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &>div{
      @include button();
      margin: 3px 0;
    }
  }

}
