<app-breadcrumbs [title]="(courseForm && courseForm.value.name) || 'New course'"></app-breadcrumbs>
<div class="courses_edit" *ngIf="courseForm">
  <div class="head">New course</div>
  <div class="course_info">
    <div class="title">
      <label>Title:</label>
      <input type="text"
             placeholder="Course title"
             [formControl]="courseForm.controls['name']"/>
    </div>
    <div class="description">
      <label>Description:</label>
          <textarea placeholder="Course description"
                    [formControl]="courseForm.controls['description']"
          >{{courseForm.controls['description']}}</textarea>
    </div>
    <div class="duration">
      <label>Duration:</label>
      <input type="text"
             class="duration"
             placeholder="Course duration"
             [formControl]="courseForm.controls['duration']"/>
    </div>
    <div class="date">
      <label>Date:</label>
      <input type="date"
             [formControl]="courseForm.controls['date']"
             value="{{courseForm.value.date | date: 'yyyy-MM-dd'}}"/>
    </div>
    <div class="authors">
      <label>Authors:</label>
      <app-custom-select
        [list]="foundedAuthors"
        (select)="onSelectItem($event)">
        <app-smart-input
          [startList]="authorsArray || []"
          (keyPress)="onKeyupAuthors($event)"
          (remove)="onRemove($event)">
        </app-smart-input>
      </app-custom-select>
    </div>
  </div>
  <div class="course_actions">
    <div class="cancel" (click)="onCancel()">Cancel</div>
    <button class="save" [disabled]="!courseForm.valid" (click)="onSave(courseForm.value)">Save</button>
  </div>
</div>
