<app-toolbox (search)="search($event)" (add)="addCourse($event)"></app-toolbox>
<div class="courses-list" *ngIf="filteredCourses" [ngClass]="{ loader: loader }">
  <app-courses-item
    *ngFor="let course of filteredCourses| orderBy: 'creation_date'"
    [course]="course"
    (del)="onDeleteCourse($event)"
    (save)="onSaveCourse($event)"
    (edit)="onEditCourse($event)">
  </app-courses-item>
  <ng-template *ngIf="filteredCourses.length === 0; then thenBlock else elseBlock"></ng-template>
  <ng-template #thenBlock>
    <div class="not_found" (click)="addCourse()">
      NO DATA, FEEL FREE TO ADD NEW COURSE
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="load_more_button" (click)="loadMore()">
      LOAD MORE
    </div>
  </ng-template>
  <app-modal-window></app-modal-window>
</div>
