$darkBlue: #0049A0;
$lightBlue: #0073ff;
$darkGreen: #006e2e;
$white: #FFFFFF;
$lightGrey: #f5f5f5;
$grey: #ccc;

@mixin button(){
  padding: 6px 12px;
  background: $darkBlue;
  color: $white;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border: none;
  &[disabled]{
    background: $lightGrey;
    color: $grey;
    outline: 1px solid $grey;
  }
}

@mixin blockWithPreloader($url){
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.3);
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
  }
}
